.container {
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: var(--WHITE);
    z-index: 4;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    box-sizing: border-box;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    list-style: none;
    padding: 30px;
    font-weight: 300;
    color: var(--GRAY-BLUE);
}

li:hover {
    color: var(--DARK-BLUE);
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, var(--GREEN), var(--CYAN)) 1;
}