<div class="container">
    <h2>Latest Articles</h2>
    <div class="articles">
        <article>
            <img src="../../../assets/images/image-currency.jpg" alt="currency">
            <div class="text">
                <p class="author">By Claire Robinson</p>
                <h4>Receive money in any currency with no fees</h4>
                <p>The world is getting smaller and we're becoming more mobile. So why should you be forced to only receive money in a single ...</p>
            </div>
        </article>
        <article>
            <img src="../../../assets/images/image-restaurant.jpg" alt="restaurant">
            <div class="text">
                <p class="author">By Wilson Hutton</p>
                <h4>Treat yourself without worrying about money</h4>
                <p>Our simple budgeting feature allows you to separate out your spending and set realistic limits each month. That means you ...</p>
            </div>
        </article>
        <article>
            <img src="../../../assets/images/image-plane.jpg" alt="plane">
            <p class="author">By Wilson Hutton</p>
        </article>
        <article>
            <img src="../../../assets/images/image-confetti.jpg" alt="confetti">
            <p class="author">By Claire Robinson</p>
        </article>
    </div>
</div>