<div class="container">
    <h2>Latest Articles</h2>
    <div class="articles">
        <article>
            <img src="../../../assets/images/image-currency.jpg" alt="currency">
            <div class="text">
                <p class="author">By Claire Robinson</p>
                <h4>Receive money in any currency with no fees</h4>
                <p>The world is getting smaller and we're becoming more mobile. So why should you be forced to only receive money in a single ...</p>
            </div>
        </article>
        <article>
            <img src="../../../assets/images/image-restaurant.jpg" alt="restaurant">
            <div class="text">
                <p class="author">By Wilson Hutton</p>
                <h4>Treat yourself without worrying about money</h4>
                <p>Our simple budgeting feature allows you to separate out your spending and set realistic limits each month. That means you ...</p>
            </div>
        </article>
        <article>
            <img src="../../../assets/images/image-plane.jpg" alt="plane">
            <div class="text">
                <p class="author">By Wilson Hutton</p>
                <h4>Take your Easebank card wherever you go</h4>
                <p>We want you to enjoy your travels. This is why we don't charge any fees on purchases while you're abroad. We'll even show you ...</p>
            </div>
        </article>
        <article>
            <img src="../../../assets/images/image-confetti.jpg" alt="confetti">
            <div class="text">
                <p class="author">By Claire Robinson</p>
                <h4>Our invite-only Beta accounts are now live!</h4>
                <p>After a lot of hard work by the whole team, we're excited to launch our closed beta. It's easy to request an invite through the site.</p>
            </div>
        </article>
    </div>
</div>